<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick And Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      @for(personaje of personajes ; track personaje.id){
        <ion-col>
          <ion-card>
            <img alt="..." src="{{personaje.image}}" />
            <ion-card-header>
              <ion-card-title>{{personaje.name}}</ion-card-title>
              <ion-card-subtitle>{{personaje.type}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>